body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    /* Photo by ğš‚ğš’ğš˜ğš›ğšŠ ğ™¿ğš‘ğš˜ğšğš˜ğšğš›ğšŠğš™ğš‘ğš¢ on Unsplash */
    background-image: image(url"baggrundsfoto.jpg")
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.flex_container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.formelementer {
    margin-top: 10px;
    margin-right: 5px;
}

.formelementer button {
    float: right;
}

.formular {
    align-self: center;
    background-color: white;
    opacity: 0.9;
}

.etiket {
    font-family: Arial, sans-serif;
    font-size: 13px;
    display: block;
}

.indtastningsfelt {
    width: 100%;
    text-align: right;
}

.vurderings_felt {
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    height: 50px;
}
